*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}


.text
{
    text-align: center;
    position: absolute;
    top: 10%;
    left: 10%;
    color: white;

}
header {
    background-color: rgb(129, 129, 129)  ;
    border-bottom: 2px solid rgb(88, 84, 84);
    color: #000000; /* Set the text color */
  }

  .nav-list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between; /* Distribute items evenly */
  }

  :global(body) {
    background-image: url("pexels-pavel-danilyuk-6296063.jpg");
    background-size: cover;
    background-attachment: fixed;
  }

  .home-page-text h1 {
    /* opacity: 1; */
  }
  
  .home-page-text {
    position: absolute;
    top: 30%;
    left: 30%;
    background-color: rgba(56, 63, 73, 0.53);
    /* opacity: 0.4; */
    padding: 10px;
  }
  
  .LOGO {
    position:fixed;
    padding-right: 20px;
  }
 
  
  

